<li><a href="{% url 'homepage' subdomain='status' %}">Homepage</a></li>
<li><a href="{% url 'homepage' subdomain='status' %}admin/">(#) Django Admin</a></li>
<li><a href="{% url 'homepage' subdomain='status' %}data/">(#) SQL Explorer</a></li>
<li><a href="{% url 'homepage' subdomain='status' %}queue/">(#) Redis-Queue</a></li>
<li><a href="{% url 'homepage' subdomain='status' %}report/">(#) Report Builder</a></li>

