{% extends "layouts/blank.html" %}

{% block heading %}Site Web{% endblock %}

{% block content %}
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
{% endblock %}

{% block script %}
<style>
  h1 { padding: 0 30px; }
  .col-md-2 { width: 18.6667%; }
  .buttons { display: block; table-layout: fixed; border-radius: 7px; border: 1px solid #ccc;
             margin: 20px; background: #eee; padding: 30px; }
  .buttons > div a { margin: 5px 10px; }
  .buttons > div:not(:first-child) { margin-top: 10px; border-top: 1px solid #ccc;
                                     padding-top: 10px; text-align: center; }
  .user-details { text-align: center; font-size: 16px; font-weight: bold; }
  .disconnect-form { padding: 0; margin: 0px 10px; }
  .disconnect-form > a { display: block; margin: 5px 0 !important; }
</style>

<script src="https://plus.google.com/js/client:plusone.js?onload=start" type="text/javascript"></script>
<script src="https://login.persona.org/include.js" type="text/javascript"></script>
{% endblock %}

{% block app %}
<script type="text/javascript">
  var signInCallback = function (result) {
      if (result['error']) {
        alert('An error happened:', result['error']);
      } else {
        $('#code').attr('value', result['code']);
        $('#at').attr('value', result['access_token']);
        $('#google-plus').submit();
      }
  };

  var modalDialog = function (modalId, modalLinkName, submitHandler) {
    var $modal;

    $modal = $(modalId).modal({show: false});

    $modal.on('click', '.btn-primary', submitHandler || function (event) {
      event.preventDefault();
      $modal.find('form').submit();
    });

    if (modalLinkName) {
      $('a[name="' + modalLinkName + '"]').on('click', function (event) {
        event.preventDefault();
        $modal.modal('toggle');
      });
    }

    return $modal;
  };

  $(function () {
    var $validationModal, $emailRequired;

    modalDialog('#livejournal-modal', 'livejournal');
    modalDialog('#openid-modal', 'openid');
    modalDialog('#email-modal', 'email');
    modalDialog('#username-modal', 'username');
    $validationModal = modalDialog('#validation-sent-modal');
    $emailRequired = modalDialog('#email-required-modal');

    modalDialog('#ajax-login-modal', 'ajax-login', function (event) {
      var $backend, $accessToken, $accessTokenSecret, $fields, $result;
      event.preventDefault();

      $modal = $(this).closest('.modal');
      $form = $modal.find('form');
      $backend = $modal.find('[name="backend"]');
      $accessToken = $modal.find('[name="access_token"]');
      $accessTokenSecret = $modal.find('[name="access_token_secret"]');
      $result = $modal.find('.login-result');

      $.get('/ajax-auth/' + $backend.val() + '/', {
        access_token: $accessToken.val(),
        access_token_secret: $accessTokenSecret.val(),
      }, function (data, xhr, response) {
        $result.find('.user-id').html(data.id);
        $result.find('.user-username').html(data.username);
        $form.hide();
        $result.show();
        setTimeout(function () { window.location = '/'; }, 10000);
      }, 'json')
    });

    modalDialog('#persona-modal', 'persona', function (event) {
      var $form;
      event.preventDefault();

      $form = $(this).closest('form');
      navigator.id.get(function (assertion) {
        if (assertion) {
          $form.find('[name="assertion"]').val(assertion)
          $form.submit();
        } else {
          alert('An error occurred while getting your assertion, try again.');
        }
      });
    });

    $('.disconnect-form').on('click', 'a.btn', function (event) {
      event.preventDefault();
      $(event.target).closest('form').submit();
    });

    {% if validation_sent %}
      $validationModal.modal('show');
    {% endif %}

    {% if email_required %}
      $emailRequired.modal('show');
    {% endif %}
  });
</script>
{% endblock %}
